* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.wrapper {
    max-width: 1230px;
    padding: 0 0 0 15px;
    margin: 0 auto;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;

}
.nav {
    position: relative;
    border-right: 1px solid rgb(205, 175, 175);
    width: 300px;
    padding: 0 10px;
}
.nav__wrapper {
    position: sticky;
    left: 0;
    top: 10%;
}
/* ---prigress bar */
.progress{
    width: 100%;
    position: relative;
    height: 10px;
    border-radius: 30px;
    background-color: rgb(42, 40, 44);
    margin-top: 20px;
    overflow: hidden;
}
.progress__bar{
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    width: 0%;
    border-radius: 30px;
    background-color: rgb(197, 31, 167);
    transition: all 0.3s ease;
}
/* ----nav list */
.nav__list {
    list-style-type: none;
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-top: 20px;
}
.nav__item {
    border: 1px solid rgb(205, 175, 175);
    width: 100%;
    border-radius: 5px;
    
}
.nav__link {
    cursor: pointer;
    width: 100%;
    display: block;
    padding: 10px 5px;
    text-decoration: none;
}
.nav__active {
    background-color: bisque;
}
/* --------- */
.main {
    width: 100%;
}
.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    position: relative;
    background-position: center;
    background-size: cover;

}

.section-1 {
    background-image: url("/img/bg-1.png");
}

.section-2 {
    /* background-color: rgb(130, 194, 194); */
    background-image: url("/img/bg-2.jpg");

}
.section-3 {
    /* background-color: rgb(187, 230, 201); */
    background-image: url("/img/bg-3.jpg");
}
.section-4 {
    /* background-color: rgb(229, 241, 176); */
    background-image: url("/img/bg-4.jpg");
}
.section-5 {
    /* background-color: rgb(206, 188, 252); */
    background-image: url("/img/bg-5.jpg");
}
.hello{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:30%;
    height: 30%;
    border: 1px solid red;
    border-radius: 10px;
    transition: all 0.5s ease;

}
@media (max-width: 800px) {
    .hello{
        height: 100px;
        width: 150px;
    }
}
@media (max-width: 600px) {
    .wrapper{
        padding: 0;
    }
}